/* css style for all the body  */
body {
    background-image: url(im.jpg); 
    background-size: cover; 
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0; 
}

/* css for the card */
.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 10px 10px 20px 20px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 320px;
	max-width: 100%;
	text-align: center;
}

/* css for the image in the card  */
.card-container .round {
	border: 4px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}
/* css for the button  */
.button {
	background-color: #03BFCB;
	border: 3px solid #03BFCB;
	border-radius: 6px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 200;

}




